body {
  margin: 0;
}

@font-face {
  font-family: 'InkFree';
  src: local('InkFree'), url(./assets/fonts/Inkfree.ttf) format('ttf');
}

@font-face {
  font-family: 'SquareBold';
  src: local('SquareBold'), url(./assets/fonts/SquareBold.ttf) format('ttf');
}
